<h2><%= job ? "Edit job" : "Add job" %></h2>

<form method="POST"
      action="<%= job ? '/jobs/update/' + job._id : '/jobs' %>">

  <input type="hidden" name="_csrf" value="<%= _csrf %>" />

  <label>Company:</label>
  <input type="text" name="company"
         value="<%= job ? job.company : '' %>" />

  <label>Position:</label>
  <input type="text" name="position"
         value="<%= job ? job.position : '' %>" />

  <label>Status:</label>
  <select name="status">
    <option value="pending"
      <%= job && job.status === "pending" ? "selected" : "" %>>
      Pending
    </option>
    <option value="interview"
      <%= job && job.status === "interview" ? "selected" : "" %>>
      Interview
    </option>
    <option value="declined"
      <%= job && job.status === "declined" ? "selected" : "" %>>
      Declined
    </option>
  </select>

  <button type="submit">
    <%= job ? "Update" : "Create" %>
  </button>
</form>